<%- include('../includes/header.ejs')  %>
  <link rel="stylesheet" href="/css/product.css">
</head>

<body>
  <%- include('../includes/navigation.ejs')  %>
  <main>
    <h1><%= docTitle %></h1>

    <% if(errorMessage && errorMessage.length !== 0)  { %>
    <div class="user-message user-message--error"><%= errorMessage %></div>
    <% } %>
    <% if(confirmMessage && confirmMessage.length !== 0)  { %>
    <div class="user-message user-message--error"><%= confirmMessage %></div>
    <% } %>

    <% if(products.length > 0) { %>
    <div class="grid">
      <% products.forEach(product => { %>
      <article class="card product-item">
        <header class="card__header">
          <h1 class="product__title"><%= product.title %></h1>
        </header>
        <div class="card__image">
          <% if(product.imageUrl) { %>
          <img src="<%= product.imageUrl %>" alt="<%= product.title %>" />
          <% } else { %>
          <img src="https://source.unsplash.com/800x600/?$ <%= product.title %>" alt="<%= product.title %>" />
          <% } %>
        </div>
        <div class="card__content">
          <h2 class="product__price">$<%= product.price %></h2>
          <p class="product__description"><%= product.description %></p>
        </div>
        <div class="card__actions">
          <a href="/admin/edit-product/<%= product._id %>?edit=true" id="editBtn" class="btn">Edit</a>

            <input type="hidden" name="_csrf" id="_csrf" value="<%= csrfToken %>" />
            <button type="button" id="<%= product._id %>" class="btn" onClick="deleteProduct(this)">Delete</button>
        </div>
        <strong style="visibility: hidden; color: red; text-align: center" id="requestErrorMessage">request failed</strong>
      </article>
      <% }); %>
    </div>
    <% } else { %>
    <h1>No Products</h1>
    <p>Please <a href="/admin/add-product">add products</a></p>
    <% } %>
  </main>

  <%- include('../includes/footer.ejs')  %>
  <script src="/js/admin.js"></script>