<%- include('../includes/header.ejs')  %>
<link rel="stylesheet" href="/css/forms.css">
<link rel="stylesheet" href="/css/product.css">
</head>

<body>
    <%- include('../includes/navigation.ejs')  %>
    <main>
        <h1><%= docTitle %></h1>
        
        <% if(errorMessage && errorMessage.length !== 0)  { %>
        <div class="user-message user-message--error"><%= errorMessage %></div>
        <% } %>

        <form class="product-form" 
        
        <% if(product) { %>
            action="/admin/edit-product/<%= errorMessage && (errorMessage.length !== 0) ? prevInput.productId : product._id %>"
        <% } else { %>
            action="/admin/add-product"
        <% } %>
         method="POST"

         enctype="multipart/form-data"
        >
            <div class="form-control">
                <label for="title">Title</label>
                <input type="text" name="title" id="title"
                value="<%= errorMessage && (errorMessage.length !== 0) ? prevInput.title : product && product.title %>"
                class="<%= validationErrors.find(err => err.param === 'title') ? 'invalid' : '' %>"
                >
            </div>

            <div class="form-control">
                <label for="image">Image</label>
                <input type="file" name="image" id="image" />
            </div>

            <!-- <div class="form-control">
                <label for="imageUrl">Image URL</label>
                <input type="text" name="imageUrl" id="imageUrl"
                value="<%= errorMessage && (errorMessage.length !== 0) ? prevInput.imageUrl : product &&  product.imageUrl %>"
                class="<%= validationErrors.find(err => err.param === 'imageUrl') ? 'invalid' : '' %>"
                >
            </div> -->

            <div class="form-control">
                <label for="price">Price</label>
                <input type="number" name="price" id="price" step="0.01"
                value="<%= errorMessage && (errorMessage.length !== 0) ? prevInput.price : product &&  product.price %>"
                class="<%= validationErrors.find(err => err.param === 'price') ? 'invalid' : '' %>"
                >
            </div>
            <div class="form-control">
                <label for="description">Description</label>
                <textarea name="description" id="description" rows="5"><%= errorMessage && (errorMessage.length !== 0) ? prevInput.description : product &&  product.description %></textarea>
            </div>

            <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
            <button class="btn" type="submit"><%= product ? "Update Product" : "Add Product" %></button>
        </form>
    </main>

    <%- include('../includes/footer.ejs')  %>